<div class="article-preview">
  <app-article-meta [article]="article">
    <app-favorite-button [article]="article" (toggle)="onToggleFavorite($event)"  class="pull-xs-right">
      {{article.ticketsCount}}
    </app-favorite-button>
  </app-article-meta>
  <!--  这个路由怎么跳转的 -->
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}22222222222222222222</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
          *ngFor="let tag of article.tagList">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
